body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff; /* Azul claro */
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    color: #4682b4; /* Azul escuro */
}

p {
    color: #333;
}

a {
    color: #1e90ff; /* Azul claro */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

header {
    background-color: #4682b4; /* Azul escuro */
    color: white;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: white;
    padding: 5px 10px;
}

nav ul li a:hover {
    background-color: #1e90ff; /* Azul claro */
    border-radius: 5px;
}

main {
    padding: 20px;
}

button {
    background-color: #4682b4; /* Azul escuro */
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #1e90ff; /* Azul claro */
}

.form-group {
    margin-bottom: 15px;
}

.form-control {
    width: 100%;
    padding: 10px;
    margin: 5px 0 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
.health-links-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}

.health-link-card {
    background-color: #e6f2ff;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 45%;
    margin: 10px;
    padding: 20px;
    text-align: center;
    transition: background-color 0.3s ease;
}

.health-link-card a {
    color: #4682b4;
    font-size: 18px;
    text-decoration: none;
}

.health-link-card:hover {
    background-color: #d0e7ff;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff; /* Azul claro */
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    color: #4682b4; /* Azul escuro */
}

p {
    color: #333;
}

a {
    color: #1e90ff; /* Azul claro */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

button {
    background-color: #4682b4; /* Azul escuro */
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #1e90ff; /* Azul claro */
}

.form-group {
    margin-bottom: 15px;
}

.form-control {
    width: 100%;
    padding: 10px;
    margin: 5px 0 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
