.layout-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    background-color: #4682b4; /* Azul escuro */
    color: white;
    padding: 10px;
    text-align: right; /* Move o cabeçalho para a direita */
}

.nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-list .nav-item {
    display: inline;
    margin-right: 10px;
}

.nav-list .nav-item a {
    color: white;
    padding: 5px 10px;
    text-decoration: none;
}

.nav-list .nav-item a:hover {
    background-color: #1e90ff; /* Azul claro */
    border-radius: 5px;
}

.main-content {
    flex: 1;
    padding: 20px;
    background-color: #f0f8ff; /* Azul claro */
}

.footer {
    background-color: #4682b4; /* Azul escuro */
    color: white;
    text-align: center;
    padding: 10px 0;
}
.layout-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .header {
    background-color: #4682b4; /* Azul escuro */
    color: white;
    padding: 10px;
    text-align: right; /* Move o cabeçalho para a direita */
  }
  
  .nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .nav-list .nav-item {
    display: inline;
    margin-right: 10px;
  }
  
  .nav-list .nav-item a {
    color: white;
    padding: 5px 10px;
    text-decoration: none;
  }
  
  .nav-list .nav-item a:hover {
    background-color: #1e90ff; /* Azul claro */
    border-radius: 5px;
  }
  
  .main-content {
    flex: 1;
    padding: 20px;
    background-color: #f0f8ff; /* Azul claro */
  }
  
  .footer {
    background-color: #4682b4; /* Azul escuro */
    color: white;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  